/*Limbo DB Stylesheet
  Authors: Matt Pineau & Siting Wong
  Date: 11/17/14
*/

/*General Styles*/

body {
    padding-left: 20px;
    padding-top: 15px;
}

a {
    text-decoration: none;
}

/*Navigation Styles*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 40px;
    padding: 15px;
    padding-left: 0px;
}

/*Other Header Styles*/
 h2 {
    font-size: 1em;
}

/*---------------------Lost Page------------------------*/

.form-sec {
    display: inline-block;
    max-width: 250px;
}   
.form-text {
    padding: 15px;
}